.banner-text {
    position: relative;
    z-index: 5;
    &__title {
        margin-bottom: 1.5rem;
    }
    &--right {
        padding-top: 6.6rem;
        text-align: right;
        .banner-text__title {
            padding-left: 67%;
        }
        .banner-text__subtitle {
            padding-left: 76%;
        }
    }
    &--left {
        padding-top: 32rem;
        .banner-text__title {
            padding-right: 60%;
            margin-bottom: 4rem;
        }
        .banner-text__subtitle {
            padding-right: 64%;
        }
    }
    &--center {
        text-align: center;
        width: 102.4rem;
        margin: 0 auto;
        padding-top: 32rem;
        .banner-text__subtitle {
            padding: 0 9%;
        }
    }
    &__list {
        padding-right: 59%;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
    }
    @media (max-width: 48em) {
        &__title {
            margin-bottom: 4rem;
        }
        &--right {
            padding-top: 0rem;
            text-align: center;
            .banner-text__title {
                padding-left: 0%;
            }
            .banner-text__subtitle {
                padding-left: 0%;
            }
        }
        &--left {
            padding-top: 10.5rem;
            padding-bottom: 11.5rem;
            text-align: center;
            .banner-text__title {
                padding-right: 0%;
                margin-bottom: 4rem;
            }
            .banner-text__subtitle {
                padding-right: 0%;
            }
        }
        &--center {
            text-align: left;
            width: 100%;
            padding-top: 0rem;
            .banner-text__subtitle {
                padding: 0%;
                padding-right: 7%;
            }
        }
        &__list {
            padding-right: 0%;
            display: block;
            li {
                margin-bottom: 2rem;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.banner-main {
    overflow: hidden;
    &__img {
        position: absolute;
        left: -14rem;
        top: 20.5rem;
        width: 96rem;
        z-index: 1;
    }
    &__inner {
        position: relative;
        z-index: 2;
    }
    @media (max-width: 48em) {
        &__img {
            position: static;
            width: 107vw;
            margin-left: -4rem;
            margin-top: 8rem;
            margin-bottom: 4rem;
        }
    }
}

@keyframes voda {
    0% {
        stroke-dashoffset: 130;
    }
    25% {
        stroke-dashoffset: -130;
    }
    50% {
        stroke-dashoffset: -130;
    }
    75%{
        stroke-dashoffset: 130;
    }
    100%{
        stroke-dashoffset: 130;
    }
}

@keyframes teplo {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes dym1 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    81% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes dym2 {
    0% {
        opacity: 0;
    }
    16% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    81% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes dym3 {
    0% {
        opacity: 0;
    }
    16% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    49% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes veter {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -980;
    }
}

@keyframes lopast {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes discharg {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes snowflake {
    0% {
        transform: translateX(-1.8rem);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateX(2.5rem);
        opacity: 0;
    }
}
@keyframes snowflakeMob {
    0% {
        transform: translateX(-3rem);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateX(3.5rem);
        opacity: 0;
    }
}

@keyframes s-kran {
    0% {
        transform: translateY(0rem);
    }
    20% {
        transform: translateY(1.7rem);
    }
    65% {
        transform: translateY(-1rem);
    }
    80% {
        transform: translateY(0rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

@keyframes kaply {
    0% {
        transform: translateY(-2.5rem);
    }
    100% {
        transform: translateY(2.2rem);
    }
}


.voda {
    stroke: #115ad4;
    fill: transparent;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
}

.teplo {
    width: 2.7rem;
    height: 2.1rem;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    @media (max-width: 48em) {
        width: 2.7rem * 2;
        height: 2.1rem * 2;
    }
}
.dym {
    width: 2.7rem;
    height: 2.1rem;
    position: absolute;
    bottom: 100%;
    left: 0%;
    transform: translateX(0%);
    path {
        opacity: 0;
    }
    @media (max-width: 48em) {
        width: 2.7rem * 2;
        height: 2.1rem * 2;
    }
}
.veter {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 50%;
    left: calc(100% + 1rem);
    transform: translateY(-50%) scale(-1, 1);
    stroke: #115ad4;
    stroke-width: 0.2rem;
    path {
        stroke-dasharray: 35;
        stroke-dashoffset: -980;
        animation-duration: 30s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(.75,.05,.94,.2);
        animation-timing-function: ease-out;
        stroke-width: 0.4rem;
        stroke: #115ad4;
        fill: none;
        opacity: 0 ;
     }
    path:nth-child(2) {
        animation-delay: 70ms;
    }
    path:nth-child(3) {
        animation-delay: 120ms;
    }
    @media (max-width: 48em) {
        width: 2.4rem * 2;
        height: 2.4rem * 2;
    }
}
.lopast {
    transform: rotate(0);
    transform-origin: center;
}

.electric-path {
    fill: transparent;
    stroke:  #115AD4;
}
.discharg {
    opacity: 0;
}
.discharg-3, .discharg-4 {
    animation-delay: 0.5s;
}
.snowflake {
    width: 5.7rem;
    height: 4rem;
    fill: #115ad4;
    position: absolute;
    top: 1rem;
    left: 100%;
    overflow: hidden;
    @media (max-width: 48em) {
        top: 2rem;
        width: 5.7rem * 2;
        height: 4rem * 2;
    }
}

.snowflake path {
    transform: translateX(-1.8rem);
}

.snowflake path:nth-child(1) {
    animation-delay: 1s;
}

#air-conditioner .lopast {
    transform-origin: 33% 46.3%;
    animation-direction: reverse;
}

.main-category {
    padding-left: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    position: relative;
    &::before, &::after {
        content: "";
        display: block;
        width: 1px;
        height: calc(100% - 3.7rem);
        position: absolute;
        top: 0;
        background-color: $border;
    }
    &::before {
        right: 31.5%;
    }
    &::after {
        right: 15.5%;
    }
    &__item {
        width: 33.3333%;
        display: block;
        padding-left: 9rem;
        margin-bottom: 3.7rem;
        transform: scale3d(1, 1, 1);
        transition: transform 600ms;
        &.active, &.animated {
            .main-category__title {
                opacity: 1;
                transition: opacity 6000ms;
            }
            .main-category__text {
                opacity: 1;
                transition: opacity 6000ms;
            }
        }
        &:hover {
            transform: scale3d(1.1, 1.1, 1.1);
            transition: transform 600ms;
            .voda {
                animation-name: voda;
                animation-duration: 7s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
            .teplo {
                animation-name: teplo;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
                animation-duration: 1.5s;
                animation-delay: 0s;
            }
            .dym path {
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
                animation-duration: 2s;
                animation-delay: 0s;
            }
            .dym path:nth-child(1) {
                animation-name: dym1;
            }
            .dym path:nth-child(3) {
                animation-name: dym2;
            }
            .dym path:nth-child(2) {
                animation-name: dym3;
            }
            .veter path {
                animation-name: veter;
                animation-timing-function: linear;
                opacity: 1;
            }
            .lopast {
                animation-name: lopast;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
            .discharg {
                animation-name: discharg;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
            .snowflake path {
                animation-name: snowflake;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
            .gear  {
                animation-name: lopast;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
            .gruz  {
                animation-name: s-kran;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
            .kaply  {
                animation-name: kaply;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in;
            }
        }
    }
    &__img {
        width: 6rem;
        height: 6rem;
        margin-bottom: 1.5rem;
        color: #115AD4;
        position: relative;
        fill: #115AD4;
        
        // svg * {
        //     fill: transparent;
        //     stroke:  #115AD4;
        // }
        
        // &--heating {
        //     width: 5.2rem;
        //     height: 4.5rem;
        // }
        // &--harbor-crane {
        //     width: 5.2rem;
        //     height: 5.2rem;
        // }
        // &--boiler {
        //     width: 5.7rem;
        //     height: 4.7rem;
        // }
        // &--ventilation {
        //     width: 5.3rem;
        //     height: 5.3rem;
        // }
        // &--electric {
        //     width: 6.2rem;
        //     height: 5.4rem;
        // }
        // &--air-conditioner {
        //     width: 5.2rem;
        //     height: 4.5rem;
        // }
        // &--gear {
        //     width: 5.7rem;
        //     height: 5.8rem;
        // }
        // &--tap {
        //     width: 5.6rem;
        //     height: 5.8rem;
        // }
    }
    &__title {
        margin-bottom: 2.4rem;
        opacity: 0;
        opacity: 1;
    }
    &__text {
        opacity: 0;
        opacity: 1;
    }
    @media (max-width: 48em) {
        padding-left: 0%;
        margin-top: 4.7rem * 2;
        &::after {
            display: none;
        }
        &::before {
            right: 50%;
            height: calc(100% - 12rem);
        }
        &__item {
            width: 50%;
            display: block;
            padding-left: 5.2rem * 2;
            padding-bottom: 2.6rem * 2;
            margin-bottom: 6.8rem;
            border-bottom: 1px solid #f1f2f8;
            &:nth-child(2n + 1) {
                padding-right: 5rem;
                padding-left: 0;
            }
            &:last-child {
                border-bottom: none;
            }
            &.active {
                .voda {
                    animation-name: voda;
                    animation-duration: 15s;
                    animation-fill-mode: forwards;
                    animation-timing-function: linear;
                }
                .teplo {
                    animation-name: teplo;
                    animation-iteration-count: infinite;
                    animation-fill-mode: forwards;
                    animation-duration: 1.5s;
                    animation-delay: 0s;
                }
                .dym path {
                    animation-iteration-count: infinite;
                    animation-fill-mode: forwards;
                    animation-duration: 2s;
                    animation-delay: 0s;
                }
                .dym path:nth-child(1) {
                    animation-name: dym1;
                }
                .dym path:nth-child(3) {
                    animation-name: dym2;
                }
                .dym path:nth-child(2) {
                    animation-name: dym3;
                }
                .veter path {
                    animation-name: veter;
                    animation-timing-function: linear;
                    opacity: 1;
                }
                .lopast {
                    animation-name: lopast;
                    animation-duration: 1.5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
                .discharg {
                    animation-name: discharg;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
                .snowflake path {
                    animation-name: snowflakeMob;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
                .gear  {
                    animation-name: lopast;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
                .gruz  {
                    animation-name: s-kran;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
                .kaply  {
                    animation-name: kaply;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in;
                }
            }
        }
        &__img {
            width: 12rem;
            height: 12rem;
            margin-bottom: 5.4rem;
        }
        &__title {
            margin-bottom: 2.4rem;
        }
        &__text {
            font-size: 3rem;
            line-height: 1.3333;
        }
    }
}
.banner-service {
    overflow: hidden;
    position: relative;
    min-height: 96.6rem;
    margin-bottom: 15rem;
    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            width: 250rem;
            height: 96.6rem;
            background-image: url(../img/banner-mask.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center top;
        }
    }
    &__img-mob {
        display: none;
    }
    &__btn {
        margin-top: 4.5rem;
    }
    @media (max-width: 48em) {
        min-height: auto;
        margin-bottom: 13rem;
        &__img {
            display: none;
        }
        &__img-mob {
            display: block;
            width: 100%;
            height: 26.4rem * 2;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__btn {
            margin-top: 6rem;
        }
    }
}

.banner-about {
    overflow: hidden;
    position: relative;
    min-height: 96.6rem;
    margin-bottom: 15rem;
    &__img {
        position: absolute;
        right: -14rem;
        top: 9.1rem;
        width: 122rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__btn {
        margin-top: 4.5rem;
    }
    @media (max-width: 48em) {
        min-height: auto;
        margin-bottom: 13rem;
        padding-top: 14rem;
        .container {
            padding: 0;
        }
        &__inner {
            padding-right: 4rem;
            padding-left: 4rem;
        }
        &__img {
            position: static;
            display: block;
            width: 100%;
            height: 26.4rem * 2;
        }
        &__btn {
            margin-top: 6rem;
        }
    }
}

.banner-contact {
    overflow: hidden;
    position: relative;
    min-height: 96.6rem;
    margin-bottom: 6rem;
    &__img {
        position: absolute;
        right: 9rem;
        top: 5rem;
        width: 76rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__btn {
        margin-top: 4.5rem;
    }
    @media (max-width: 48em) {
        min-height: auto;
        margin-bottom: 13rem;
        padding-top: 0rem;
        &__inner {
        }
        &__img {
            position: static;
            display: flex;
            justify-content: center;
            width: 100%;
            img {
                width: 82%;
                object-position: center;
                object-fit: contain;
            }
        }
        &__btn {
            margin-top: 6rem;
        }
    }
}