$blue: #407BFF;
$border: #f1f2f8;
$black: #363636;
.body-page {
    font-size: 1.8rem;
    line-height: 1.5;
    color: #363636;
    @media (max-width: 48em) {
        font-size: 3rem;
    }
}
.main {
    @media (max-width: 48em) {
        padding-top: 7.4rem * 2;
    }
}
.more {
    display: inline-flex;
    align-items: center;
    align-content: center;
    font-family: $cirBold;
    font-size: 1.8rem;
    &::after {
        content: "";
        display: block;
        width: 2rem;
        height: 1.5rem;
        margin-left: 0.6rem;
        background-image: url(../img/more.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        //margin-top: 0.3rem;
    }
    @media (max-width: 48em) {
        font-size: 3.6rem;
        &::after {
            width: 4rem;
            height: 3rem;
            margin-left: 1rem;
        }
    }
}
.h {
    font-family: $cirBold;
    line-height: 1.2;
    &-45-30 {
        font-size: 4.5rem;
        @media (max-width: 48em) {
            font-size: 3rem * 2;
        }
    }
    &-25-20 {
        font-size: 2.5rem;
        @media (max-width: 48em) {
            font-size: 2rem * 2;
        }
    }
    &-20-18 {
        font-size: 2rem;
        @media (max-width: 48em) {
            font-size: 1.8rem * 2;
        }
    }
    &-20-17 {
        font-size: 2rem;
        @media (max-width: 48em) {
            font-size: 1.7rem * 2;
        }
    }
    &-20-16 {
        font-size: 2rem;
        @media (max-width: 48em) {
            font-size: 1.6rem * 2;
        }
    }
    &-18-15 {
        font-size: 1.8rem;
        @media (max-width: 48em) {
            font-size: 1.5rem * 2;
        }
    }
    &-00-00 {
        font-size: 0.0rem;
        @media (max-width: 48em) {
            font-size: 0.0rem * 2;
        }
    }
}